body {
  padding: 30px 20px 15px;
  background: steelblue;
}

main {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin-bottom: 20px;
  padding: 0 20px 15px;
  border-radius: 20px;
  background: lavender;
  transition: background-color .3s;
  cursor: pointer;
  text-decoration: none;
  color: initial;
}

.article:hover {
  background-color: lightsteelblue;
}

.article__content {
  display: flex;

}

.article__imgBlock {
  max-width: 250px;
  margin-right: 15px;
}

.article__poster {
  width: 100%;
  height: auto;
}

.article__source {
  text-align: right;
  font-weight: 600;
  font-style: normal;
}

@media screen and (max-width: 600px) {
  .article__content {
    flex-direction: column;
    align-items: center;
  }

  .article__imgBlock {
    max-width: 400px;
  }
}